body {
    background-color: #000;
    font: 14px 'Courier New';
}

#stats {
    position: absolute;
    color: #fff;
    font-weight: bold;
    top: 0;
    left: 0;
    width: 600px;
    height: 40px;
}

#stats div {
    display: inline-block;
    width: 100px;
    font-size: 24px;
}


#container {
    position: relative;
    background-color: #000;
    width: 900px;
    height: 600px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#nw, #n, #ne, #w, #c, #e, #sw, #s, #se {
    position: absolute;
    width: 300px;
    height: 200px;
    border: 5px dotted #fff;
}

#nw {
    top: 0;
    left: 0;
}

#n {
    top: 0;
    left: 300px;
}

#ne {
    top: 0;
    left: 600px;
}

#w {
    top: 200px;
    left: 0;
}

#c {
    top: 200px;
    left: 300px;
}

#e {
    top: 200px;
    left: 600px;
}

#sw {
    top: 400px;
    left: 0;
}

#s {
    top: 400px;
    left: 300px;
}

#se {
    top: 400px;
    left: 600px;
}

#hammer {
    background-image: url("./hammer.png");
    background-size: contain;
    position: absolute;
    top: 0;
    left:0;
    width: 200px;
    height: 200px;
    z-index: 200;
    pointer-events: none;
}

.hammer-hit {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#startScreen,
#gameOverScreen,
#winScreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    color: #fff;
    z-index: 300;
    text-align: center;
}

#gameOverScreen,
#winScreen {
    font: 18px 'Courier New';
}

#gameOverScreen span,
#winScreen span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

#startScreen span {
    margin-top: 2%;
    display: inline-block;
    font: 18px 'Courier New';
}

#start {
    background: transparent;
    font: 40px 'Courier New';
    color: #fff;
    position: absolute;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.quote {
    position: relative;
    border: 3px solid red;
    background-color: #fff;
    width:200px;
    height:30px;
    left: -50px;
    top: -20px;
    text-align:center;
    border-radius: 30%;
    padding: 1%;
}
.quote span {
    margin-top: 2%;
    display: inline-block;
    font-weight: bold;
}

.arrow {
    position: relative;
    top: -21px;
    left: 50px;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #f00;
}

.sjw {
    width: 150px;
    height: 200px;
    background: url("./feminist.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30px;
    left: 0;
    -webkit-animation: mole 0.5s ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    transform-origin: bottom;
}

@-webkit-keyframes mole {
    0% {
        transform: scale(1, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}



